{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="main">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div>
                   Vous êtes connectez en tant que {{ app.user.username }}
                </div>
            {% else %}
                <section class="section">
                    <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
                    <div class="mb-4">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="mb-4">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <button class="btn btn-lg btn-primary" type="submit"> Se connecter </button>
                    </div>
                </section>
            {% endif %}
        </form>
    </main>
{% endblock %}

