{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur no Pro Note !{% endblock %}

{% block body %}
    <main class="main">
        <section>
            <article>
                <h1>Bienvenue sur no Pro-note !</h1>
            </article>
            <article>
                {% if app.user %}
                    <div >
                        {% if(is_granted('ROLE_TEACHER')) %}
                            <a href="{{ path('search') }}">Chercher un élève</a>
                        {% endif %}
                        {% if(is_granted('ROLE_STUDENT')) %}
                            <a href="student/{{ app.user.id }}">Voir mes notes</a>
                        {% endif %}
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('app_register') }}">Ajouter un nouvelle utilisateur</a>
                            <a href="{{ path('search') }}">Chercher un élève</a>
                        {% endif %}
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% else %}
                    <h2>Connectez-vous !</h2>
                {% endif %}
            </article>
        </section>
    </main>
{% endblock %}
