{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="main">
        {# this is not included in the test and I will finish it #}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Nouvelle utilisateur</h1>
            <div class="formSearch">
                {{ form_start(registrationForm) }}
                    <div class="mb-4">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(registrationForm.plainPassword, {label: 'Mots de passe'}) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(registrationForm.roles) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(registrationForm.agreeTerms , {label: 'Accepter les terms'}) }}
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn">Enregistrer</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        {% else %}
            <h2>Connectez-vous !</h2>
        {% endif %}
    </main>
{% endblock %}
