{% extends 'base.html.twig' %}

{% block title %}Félicitation !{% endblock %}

{% block body %}
    <main class="main">
        <section>
            <h1>Félicitation !</h1>
            <p>Vous avez réussi à créer un nouvelle user ! </p>
            <article>
                <h2>Résumé de l'utilisateur :</h2>
                <p>Adresse email {{ newUser.email }}</p>
                {% if newUser.roles[0] == "ROLE_TEACHER"%}
                    <p>Role : Professeur </p>
                {% elseif  newUser.roles[0] == "ROLE_STUDENT"%}
                    <p>Role : Élève </p>
                {% else %}
                    <p>Role : Non défini</p>
                {% endif %}
            </article>
        </section>

    </main>
{% endblock %}
