{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}
{% block body %}
    <main class="main">
        {% if app.user or is_granted('ROLE_TEACHER') %}
            <div>
                <p>{{ studentObj.lastName }} {{studentObj.firstName }}</p>
                <p>{{ studentObj.level }}</p>
                <div class="border border-black rounded">
                    {% for key, disciplinename in  allMarks %}
                        <div class="flex">
                            <p class="discipline border border-black w-1/4">{{ key }}</p>
                            {% for mark in disciplinename %}
                                <p class="markc border border-black w-full">{{ mark }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% if  is_granted('ROLE_TEACHER')  %}
                    <section>
                        <h2>Ajouter une note</h2>
                        <div class="formSearch">
                            <div class="mb-4">
                                {{ form_start(addMarkForm) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(addMarkForm.mark) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(addMarkForm.comment) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(addMarkForm.valuationDay) }}
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn">Ajouter</button>
                            </div>
                        {{ form_end(addMarkForm) }}
                        </div>
                    </section>
                {% endif %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% else %}
            <h1>Veuillez vous connecter.</h1>
        {% endif %}
    </main>
{% endblock %}
