{% extends 'base.html.twig' %}

{% block title %}Hello TeacherViewStudentController!{% endblock %}
{% block body %}
    <main class="main">
        <h1>Bravo une note a été ajouté</h1>
        <a href="{{ path('home') }}">Retour à l'accueil</a>
        <a href="{{ path('search') }}">Chercher un autre élève</a>
    </main>
{% endblock %}