{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <main class="main">
        {% if(is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN')) %}
            <section class="formSearch">
                <div class="mb-4">
                {{ form_start(searchStudent) }}
                </div>
                <div class="mb-4">
                {{ form_row(searchStudent.level) }}
                </div>
                <div class="mb-4">
                {{ form_row(searchStudent.lastName) }}
                </div>
                <button type="submit" class="btnSearch">Rechercher</button>
                {{ form_end(searchStudent) }}

                {% if StudentCorrespondList != null %}
                    {% for  StudentCorrespond in StudentCorrespondList %}
                        <a href="student/{{ StudentCorrespond.id }}">{{ StudentCorrespond.lastName }} {{ StudentCorrespond
                            .firstName }}</a>
                    {% endfor %}
                {% endif %}
            </section>
             <section class="flex">
                 <div>
                     <h2>Seconde</h2>
                     <div class="flex flex-wrap justify-between border border-black rounded m-4">
                         {% for student in AllStudents %}
                             {% if(student.level == "Seconde") %}
                                 <a href="student/{{ student.user.id }}">{{ student.firstName }} {{ student.lastName }}</a>
                             {% endif %}
                         {% endfor %}
                     </div>
                 </div>
                 <div>
                     <h2>Première</h2>
                     <div class="flex flex-wrap justify-between border border-black rounded m-4">
                     {% for student in AllStudents %}
                         {% if(student.level == "Première") %}
                             <a href="student/{{ student.user.id }}">{{ student.firstName }} {{ student.lastName }}</a>
                         {% endif %}
                     {% endfor %}
                     </div>
                 </div>
                 <div>
                     <h2>Terminale</h2>
                     <div class="flex flex-wrap justify-between border border-black rounded m-4">
                     {% for student in AllStudents %}
                         {% if(student.level == "Terminal") %}
                             <a href="student/{{ student.user.id }}">{{ student.firstName }} {{ student.lastName }}</a>
                         {% endif %}
                     {% endfor %}
                     </div>
                 </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
