@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
    background-color: white;
    @apply py-12 px-4 text-center;
}
.main h1{
    @apply px-4 py-2 rounded font-semibold bg-gray-200 text-black text-6xl;
}
.main h2{
    @apply text-xl text-indigo-500 font-semibold;
}
.header a,.main a{
    @apply inline-block py-2 px-4 m-4 leading-none text-white bg-indigo-500 rounded shadow;
}
.header a:hover, .main a:hover{
    @apply bg-indigo-600;
}
.main input{
    @apply py-3 px-4 text-gray-700 bg-gray-200 border-gray-200 rounded;
}
.main input{
    border: solid 1px;
}
.main input:focus{
    @apply border-gray-500 bg-white;
}
.main button{
    @apply inline-block py-4 px-8 mr-6 text-white bg-green-500 rounded shadow;
}
.main button:hover{
    @apply bg-green-600;
}
.main .section{
    border: solid 1px black;
    padding: 20px;
    /*@apply bg-gray-200 rounded;*/
}
.main .formSearch{
    @apply bg-white border border-black shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4
}
.main textarea{
    @apply resize-none border border-black p-2 rounded;
}
.main label{
    @apply block;
}
