<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
    </head>
    <body>
        <header class="header flex justify-end">
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% else %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
            <a href="{{ path('home') }}">Retour à l'accueil</a>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
